# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
dist/
out/
expo-cache/
.expo/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Turbo
.turbo/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Expo
android/
ios/

# Playwright
/apps/web/playwright-report/
/apps/web/test-results/

# EAS / credentials
apps/mobile/google-service-account.json
apps/mobile/credentials.json

# Local session notes
sesion
expo.dev
